@keyframes slow-zoom {
    from { transform: scale(1); }
    to { transform: scale(1.15); }
}

.animate-slow-zoom {
    animation: slow-zoom 20s infinite alternate ease-in-out;
}

/* გლუვი სქროლი */
html {
    scroll-behavior: smooth;
}

/* კონსულტანტის ნათება */
.glow-available {
    box-shadow: 0 0 25px rgba(52, 211, 153, 0.5);
}

/* Tailwind-ის დამატებითი ფერები */
.text-rose-600 { color: #e11d48; }
.bg-blue-900 { background-color: #0f172a; }
